:root{
    --text-black-color:rgba(0,0,0,0.8);
    --bg-blue-color:#011627;
    --input-label-color: #b1b1b1;
    --input-val-color :#333333;
    --btn-color: #457B9D;
    --input-border-color: #d8d8d8;
    --theme-primary:#008ffd;
    --theme-primary-accent:#cbe8ff;
    --bg-primary:#d6dae0;
    --bg-secondary:#eaebec;
    --bg-tertiary:#fdfdfd;
    --text-primary:#1f1f25;
    --text-secondary:#999fa6;
    --chart-bg:#f5ffff;
    --heading-color:rgb(58, 58, 58);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/roboto-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/roboto-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: sans-serif;
  display: flex;
  overflow-y: hidden;
}
a{
    text-decoration: none;
}
header{
    background-color: var(--bg-blue-color);
    min-width: 292px;
    width: 17.35vw;
    max-width: 333px;
    padding: 1.46vw 0 1.305vw;
    padding-right: 0.79vw;
    position: absolute; 
    /* top: 0; */
    left: 0;
    bottom: 0;
    transition: width 0.5s ease, min-width 0.5s ease;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header.collapsed{
    min-width: 70px;
    width: 97px;
    max-width:5vw;
}
.logo{
    display: inline-block;
}
.header-profile-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.46vw;
    gap: 1vw;
    padding-left: 1.2vw;
    padding-right: 0.782vw;
}
.header.collapsed .header-profile-container{
    padding-left: 1.05vw;
}
.user-profile{
    display: flex;
    align-items: center;
    gap:8px;
    white-space: nowrap;
}
.user-profile div{
    display: flex;
    flex-direction: column;
}
.user-profile .user-info{
    opacity: 1;
    transition: opacity 0.5s ease;
}
.user-name{
    font-weight: normal;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 0.89vw;
    gap: 5px;
    /* margin-bottom: 2px; */
}
.user-name img{
    width: 1vw;
}
.user-profile div p{
    color: #ffffff;
    font-size: 0.73vw;
    padding-top: 1px;
}
.user-profile-img  {
  border: 1px solid black; 
  border-radius: 50%;
  width: 3.284vw;
}

.header.collapsed .user-profile-img{
    width: 2.9vw;
}

.header.collapsed .user-info{
    opacity: 0;
}
.header-profile-container .toggle-wrapper{
    display: flex;
    align-items: center;
    gap: 5px;
}
.header-profile-container .toggle-wrapper img{
    width: 0.89vw;
    height: auto;
}
.header-profile-container .toggle-wrapper .toggle-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-profile-container .toggle-wrapper input[type="checkbox"]{
    display: none;
}
.header-profile-container .toggle-wrapper .toggle-label{
    width: 2.29vw;
    height: 1.25vw;
    border-radius: 80px;
    background-color: #d2d2d2;
    cursor: pointer;
    position: relative;
}
.header-profile-container .toggle-wrapper .toggle-label:before{
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    width: 1.15vw;
    height: 1.15vw;
    transition: transform 0.2s ease;
    top: 1px;
    left: 1px;
    right: 0;
    display: block; 
}
.header-profile-container .toggle-wrapper input[type="checkbox"]:checked + .toggle-label:before{
    transform: translateX(100%);
    background-color: var(--btn-color);
    right: 1px;
    left: 0;
}
.header-profile-container .toggle-wrapper input[type="checkbox"]:checked + .toggle-label{
    /* width: 44px;
    height: 24px;
    border-radius: 80px; */
    background-color: #ffff;

}
.social-container{
    margin-bottom: 17%;
    padding-left: 1.2vw;
}
.social-container .social-list{
    display: flex;
    /* gap: 30px; */
    align-items: center;
}

.social-container .social-list li{
    list-style-type: none;
    /* border-right: 1px solid ; */
    padding-inline: 1.57vw;
    position: relative;
}
.header.collapsed .social-container{
    padding-left: 1.05vw;
    padding-right: 10px;
}
.header.collapsed .social-container .social-list ul li{
    padding-inline: 0;
}
.social-container .social-list li:first-of-type{
    padding-left: 0;
}

.header.collapsed .social-list li{
   /* opacity: 0; */
  
   display: none;
}
.header.collapsed .social-list li:last-of-type{
    opacity: 1;
    padding-left: 0;
    margin: 0 auto;
    display: block;
}
.header.collapsed .social-list li:last-of-type img{
    width: 1.2vw;
}
.header.collapsed .social-container .social-list li:first-of-type{
    padding-left: 0;
}
.social-container .social-list li:last-of-type{
    border-right: none;
    padding-right: 0px;
}


.social-container .social-list li::after{
    position: absolute;
    content: '';
    background-color: rgba(255,255,255,0.8);
    height: 17px;
    width: 1px;
    /* left: 40px; */
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.social-container .social-list li:last-of-type::after{
    width: 0;
    height: 0;
    background-color: transparent;
}

.social-container .social-list li a{
    display: inline-block;
}
.social-container .social-list li a img{
    width: 1.15vw;
}
.social-container .social-list li a img{
    position: relative;
}
.social-container .social-list li a span {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #e63946;
    border-radius: 50%;
    right: 3px;
    top: 2px;
}


.header nav{
    padding-left:1.05vw;
    padding-right: 10px;
    margin-bottom: 2.5vw; 
    overflow-y: scroll;
    overflow-x: hidden;
    text-wrap: nowrap;
}

.header nav.no-scrollbar{
    overflow-y: hidden !important;
}


.header nav.with-scrollbar {
    overflow-y: auto !important;
}

.header nav::-webkit-scrollbar{
    background-color: #eee;
    /* background-color: transparent; */
    width: 4px;
    border-radius: 5px;
}
.header nav::-webkit-scrollbar-thumb{
    background-color:#b1b1b1;
    background-color: var(--btn-color);
    /* width: 6px; */
    border-radius: 5px;
}

.header.collapsed nav{
    max-height: 100%;
    /* margin-bottom:  2vw; */
}

header.collapsed nav::-webkit-scrollbar{
    width: 0;
    background-color: transparent;
}

.header nav ul{
    list-style: none;
}
.header nav ul li{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0.78vw 0.78vw 0.68vw;
}
.header .nav-item{
    border-bottom: 1px solid rgb(49, 69, 80);
}

.header nav ul li a{
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    font-size: 0.89vw;
    /* font-size: 106%; */
    opacity: 1;
    transition: opacity 0.5 ease;
}
.header.collapsed nav ul li a{
    pointer-events: none;
    opacity: 0;

}
.header nav ul li img{
    width: 1.2vw;
}
.header .nav-item.active{
   background-color: rgb(255, 255, 255);
}

.header .nav-item.active a{
    color: var(--bg-blue-color);
}
.header .header-bottom-img-container{
 margin-top: auto;
 padding-inline: 0.89vw;
 
}
.header .header-bottom-img-container img{
    width: 14.951vw;
    transition: width 0.5s ease;

}
.header.collapsed .header-bottom-img-container img{
    width: 140%;
}
/*Main*/

main{
    padding: 1%  1.83% 2%;
    /* margin-left: 333px; */
    margin-left: clamp(292px, 17.35vw, 333px);
    transition: margin-left 0.7s ease;
    width: 100%;
    max-height: 100vh;
    position: relative;
    overflow-y: auto;
}
header.collapsed+main{
    margin-left: clamp(70px, 97px, 5vw);
    /* min-width: 70px;
    width: 97px;
    max-width:5vw; */
}

.menubar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1.15vw;
}
.menubar .menu-header{
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    gap: 1.302vw;
    padding-top: 1%;
}
 .menubar .menu-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
 .menubar .menu-btn img{
    width: 1.25vw;
    height: auto;
 }

.menubar .logo{
    display: none;
}

.menubar .logo.active{
    display: inline-block;
    width: 15.63vw;
    max-width: 300px;
}

    /*
.menubar > div{
    display: flex;
    gap: 20px;
}
.menubar div button{
    border-right: 1px solid rgba(0,0,0,0.2);
    padding-right: 20px;
    position: relative;
}
.menubar div button img{
    position: relative;
}
.menubar div button span{
    position: absolute;
    width: 6px;
    height:6px;
    background-color: #e63946;
    border-radius: 50%;
    right: 21px;
    top: 11px;
} */
.menubar .main-header{
    color: var(--bg-blue-color);
    text-transform: uppercase;
    font-size: 1.25vw;
}

/*Audit Details */
.audit-datails-wrapper{
    padding:1.46vw 0 1.57vw 2.5vw;
}

.audit-datails-wrapper .audit-detail-header{
    text-transform: uppercase;
    color: var(--text-black-color);
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(221, 222, 223);
    font-size: 0.88vw;
    margin-right: 1.15vw;
}
.audit-form-outer-wrapper.not-active{
    display: none;
}
.audit-datails-wrapper .audit-form-wrapper{
    padding-top: 1.83vw;
    display: flex;
    gap: 1.57vw;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 8vw;
}
.ship-img{
    width: 2.6042vw;
    /* width: 3.461%; */
    height: auto;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container{
    display: flex;
    gap:7.3vw;
    align-items: flex-start;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container label,
.audit-datails-wrapper .audit-form-wrapper .audit-form-container .label{
    color: var(--input-label-color);
    display: block;
    margin-bottom: 7px;
    font-size: 81.5%;
}

.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group{
    margin-bottom: 1.825vw;
}

.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .input-wrapper{
    position: relative;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .file-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}
.audit-form-wrapper .audit-form-container .input-group .file-wrapper .file-preview{
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.file-wrapper .file-preview .loader-wrapper{
    position: relative;
}
.file-wrapper .file-preview .loader {
    width: 2.085vw;
    height: 2.085vw;
    border:3px solid #b1b1b1;
    border-radius: 50%;
    position: relative;
    transform:rotate(45deg);
    box-sizing: border-box;
}
.file-wrapper .file-preview .loader::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    inset: -3px;
    border-radius: 50%;
    border:3px solid #b1b1b1;
}


.file-wrapper .file-preview .loader.active::before {
    animation: prixClipFix 1s forwards linear;
    border:3px solid var(--bg-blue-color);
}
@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
      

.loader-wrapper span{
    position: absolute;
    top: 34.5%;
    left: 50%;
    transform: translate(-50%);
    font-size: 0.65vw;
    color: var(--bg-blue-color);
}
.audit-form-wrapper .audit-form-container .input-group .file-wrapper .file-preview.active{
    display: flex;
}

.audit-form-wrapper .audit-form-container .input-group .file-wrapper .file-preview .chart .file-chart-label{
    font-size: 12px;
    text-align: center;
    position: relative;
    top:13px;
    color: #011627;
}
                
            
.audit-form-container .input-group .file-wrapper .file-preview .file-info{
    display: flex;
    align-items: center;
    position: relative;
}
.audit-form-container .input-group .file-wrapper .file-preview .file-name{
    max-width: 3.5vw;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    cursor: pointer; 
    font-size: 0.74vw;
}
.audit-form-container .input-group .file-wrapper .file-preview .file-size{
    font-size: 0.74vw;
}
.audit-form-container .input-group .file-wrapper .file-preview .file-info .tooltip{
    visibility: hidden;
    width: fit-content;
    background-color: var(--bg-blue-color);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 23px;
    left: 0;
    font-size: 15px;
    text-wrap: nowrap;
}
.audit-form-container .input-group .file-wrapper .file-preview .file-info .tooltip::after {
    content: "";
    position: absolute;
    left: 10px;   
    bottom: -5px;  
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--bg-blue-color); 
}
.audit-form-container .input-group .file-wrapper .file-preview .file-info:hover .tooltip{
    visibility: visible;
}
.audit-form-wrapper .audit-form-container .input-group .file-wrapper .file-preview .remove-file {
  border: none;
  background: transparent;
  /* font-size: 20px; */
  cursor: pointer;
  margin-left: 4px;
}
.audit-form-wrapper .audit-form-container .input-group .file-wrapper .file-preview .remove-file .close-img{
    width: 10px;
}

.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .input-wrapper .error{
    color:rgb(242, 18, 18);
    font-size:13.4px;
    visibility:hidden;
    margin-top: 7px;
    position: absolute;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .input-wrapper.error .error{
    visibility: visible;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container label .mandatory,
.audit-datails-wrapper .audit-form-wrapper .audit-form-container .label .mandatory{
    color: red;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container input{
    border: none;
    border-bottom: 1px solid var(--input-border-color);
    color: var(--input-val-color);
    padding-bottom: 7px;
    outline: none;
    font-size: 15px;
    width: 325px;
    width: 16.93vw;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container input[type="file"]{
    display: none;
}

.audit-datails-wrapper .audit-form-wrapper .audit-form-container input::placeholder{
    color: var(--input-val-color);
}

.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .date-text{
    color: var(--input-val-color);
    padding-bottom: 7px;
    border-bottom: 1px solid var(--input-border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    width: 325px;
    width: 16.93vw;
    position: relative;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .date-text.not-active{
    border-bottom: 1px solid transparent;
}
.audit-form-wrapper .audit-form-container .datepicker{
    position: absolute;
    max-width: 350px;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 0px; 
    max-height: 0;
    overflow: hidden;
    z-index: 2;
}
.audit-form-wrapper .audit-form-container .datepicker.active{
    padding: 0.79vw;
    max-height: 411px;
    overflow: visible;
    
}
.audit-form-wrapper .audit-form-container .datepicker-top{
    margin-bottom: 20px;
}

.audit-form-wrapper .audit-form-container .date-btn-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: -6px;
    color: #000000cc;
}
.audit-form-wrapper .audit-form-container .date-btn-group button{
    display: block;
}
.audit-form-wrapper .audit-form-container .datepicker-top .tag{
    margin-right: 8px;
    margin-top: 8px;
    background-color: var(--bg-secondary);
    border-radius: 5px;
    padding: clamp(6px, 1%, 1%) 0.79vw;
    border: none;
    font-size: 0.84vw;
}
.audit-form-wrapper .audit-form-container .datepicker-top .tag:hover{
    color: white;
    background-color: var(--theme-primary);
}
.audit-form-wrapper .audit-form-container .datepicker-top .month-selector{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.audit-form-wrapper .audit-form-container .datepicker-top .month-selector .arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #fff;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 12px;
}
.audit-form-wrapper .audit-form-container .datepicker-top .month-selector .arrow img{
    width: 1.2vw;
}
.audit-form-wrapper .audit-form-container .datepicker-top .month-selector .month-name{
    font-weight: 600;
    font-size: 1vw;
}
.audit-form-wrapper .audit-form-container .datepicker button{
    cursor: pointer;
    outline: none;
}

.audit-form-wrapper .audit-form-container .datepicker .datepicker-calendar .days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-row-gap: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.audit-form-wrapper .audit-form-container .datepicker .datepicker-calendar .dates{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-row-gap: 0.7vw;
}

.audit-form-wrapper .audit-form-container .datepicker .datepicker-calendar .day, 
.audit-form-wrapper .audit-form-container .datepicker .datepicker-calendar .date{
    justify-self: center;
} 
.audit-form-wrapper .audit-form-container .datepicker .datepicker-calendar .day{
    color: var(--text-primary);
    font-weight: 500;
    font-size: 0.76vw;
    justify-self: center;
}
.audit-form-wrapper .audit-form-container .datepicker .datepicker-calendar .date{
    border: none;
    margin: 0;
    padding: 0;
    width: 1.4vw;
    height: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    display: block;
    font-size: 0.83vw;
    font-weight: 500;
}
.audit-form-wrapper .audit-form-container .datepicker .datepicker-calendar .date:focus{
    /* color: #fff; */
    border: 2px solid rgba(53, 53, 53, 0.8);
    /* background-color: var(--theme-primary); */
    font-weight: 600;
}
.audit-form-wrapper .audit-form-container .datepicker .datepicker-calendar .date.faded:focus{
    color: var(--text-secondary);
    border: 2px solid transparent;
    pointer-events: none;
    font-weight: 500;
    background-color: transparent;
}
.audit-form-wrapper .audit-form-container .datepicker .datepicker-calendar .date.faded{
    color: var(--text-secondary);
}
.audit-form-wrapper .audit-form-container .datepicker .datepicker-calendar .date.current-date{
    border: 2px solid  rgba(0,0,0,0.8);
}
.audit-form-wrapper .audit-form-container .datepicker .datepicker-calendar .date.current-day{
    color: white;
    border: 2px solid  rgba(0,0,0,0.8);
    background-color: var(--theme-primary);
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .browse-btn{
    color: var(--bg-blue-color);
    border: 1px solid var(--bg-blue-color);
    background-color: transparent;
    padding: 6px 17px;
    border-radius: 3px;
    font-size: 0.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* line-height: 1; */
}

.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .custom-select {
    position: relative;
    width: 325px;
    width: 16.93vw;
    cursor: pointer;
    user-select: none;
    /* margin-bottom: 100px; */
}

.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .custom-select .selected-item{
    color: var(--input-val-color);
    padding-bottom: 7px;
    border-bottom: 1px solid var(--input-border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .custom-select .selected-item img{
    transition: transform 0.2s ease;
    transform: rotate(0);
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .custom-select .selected-item img.active{
    transform: rotate(180deg);
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .custom-select .option-list{
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    top: 25px;
    /* border: 1px solid rgba(0,0,0,0.2); */
    z-index: 2;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* height:0; */
    /* transition: 0.4s linear 0.1s; */
    display: none;
    /* height: 106px; */
}
/* .audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .custom-select .option-list::-webkit-scrollbar{
    background-color: #eee;
    width: 4px;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .custom-select .option-list::-webkit-scrollbar-thumb{
    background-color: var(--bg-blue-color);
} */
.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .custom-select.active .option-list{
    /* height: 106px; */
    display: block;
    border: 1px solid rgba(0,0,0,0.2);
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .option-list li{
    padding: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.2s ease;
}
.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .option-list li.active,
.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .option-list li:hover{
    background-color: var(--bg-blue-color);
    color: white;
}

.audit-datails-wrapper .audit-form-wrapper .audit-form-container .input-group .select-wrapper::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 6px;
  background-image: url('../images/drop-down.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

.audit-form-outer-wrapper .audit-form-btn-container{
    display: flex;
    gap: 15px;
}
.audit-form-outer-wrapper .audit-form-btn-container button{
    padding: 0.626% 1.87%;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 0.89vw;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audit-form-outer-wrapper .audit-form-btn-container .submit-btn{
    background-color: var(--btn-color);
    color: white;
}

.audit-form-outer-wrapper .audit-form-btn-container .cancel-btn{
    background-color:  white;
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
}

/*Chart Wrapper */

.audit-chart-wrapper{
    display: none;
}

.audit-chart-wrapper.active{
    display: block;
}

.audit-chart-content-wrapper{
    padding-top:1.31vw;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding-right: 1.15vw;
}
/* .audit-chart-header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.audit-chart-header-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3.13vw;
}

.audit-chart-header-wrapper div .chart-header{
    color: var(--heading-color);
    font-size: 1.33vw;
}

.audit-chart-header-wrapper div .imo-number{
    margin-top: 6px;
    color: var(--input-val-color);
    font-size: 0.84vw;
}

.audit-chart-header-wrapper  .box{
    width: 1.3vw;
    height: 1.5vw;
    background-color: rgb(234, 234, 234);
}
.audit-chart-content-wrapper .chart-header-btn-container{
    display: flex;
    align-items: center;
    gap: 1.565vw;
}
.audit-chart-content-wrapper .chart-header-btn-container button{
    background-color: transparent;
    border: none;
}
.audit-form-content-wrapper{
    display: flex;
    align-items: center;
    gap: 4.2vw;
    padding-top: 1.05vw;
    /* justify-content: space-between; */
}

.audit-form-content-container{
    display: flex;
    gap: 5.21vw;
}

.audit-form-content-container .audit-form-content-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.audit-form-content-container .audit-form-content-group .form-content-text{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    
}
.audit-form-content-container .audit-form-content-group .form-content-text p{
    width: 115px;
    color: var(--input-label-color);
    font-size: 13.5px;
}
.audit-form-content-container .audit-form-content-group .form-content-text span{
    color: var(--input-val-color);
    font-size: 14px;
}

.audit-form-content-wrapper .performance-chart-wrapper,
.audit-form-content-wrapper .risk-chart-wrapper{
    text-align: center;
}

.audit-form-content-wrapper .performance-chart-wrapper .percent{
    font-weight: bold;
    font-size: 1.8vw;
    color: rgb(46, 178, 76);
}
.audit-form-content-wrapper .performance-chart-wrapper svg{
    width: 13.1vw;
}
.audit-form-content-wrapper .performance-chart-wrapper .st0{fill:#00B050;}
.audit-form-content-wrapper .performance-chart-wrapper .st1{fill:#FFFFFF;}
.audit-form-content-wrapper .performance-chart-wrapper .st2{fill:#CCCCCC;}
.audit-form-content-wrapper .performance-chart-wrapper .st3{fill:#6D6D6F;}
.audit-form-content-wrapper .performance-chart-wrapper .st4{fill:#8F8F8F;}
.audit-form-content-wrapper .performance-chart-wrapper .st5{fill:#E2E0DF;}
.audit-form-content-wrapper .performance-chart-wrapper .st6{fill:#2EB24C;}
.audit-form-content-wrapper .performance-chart-wrapper .st7{fill:#1D3557;}
.audit-form-content-wrapper .performance-chart-wrapper .st8{fill:#E63946;}
.audit-form-content-wrapper .performance-chart-wrapper .st9{fill:#457B9D;}
.audit-form-content-wrapper .performance-chart-wrapper .st10{fill:#FF9F1C;}
.audit-form-content-wrapper .performance-chart-wrapper .st11{fill:#011627;}

.audit-form-content-wrapper .performance-chart-wrapper .performance-header,
.audit-form-content-wrapper .risk-chart-wrapper .risk-chart-header{
    color: var(--input-label-color);
    text-transform: capitalize;
    font-size: 0.78vw;
}
.audit-form-content-wrapper .performance-chart-wrapper .performance-header{
    margin-bottom: 1.05vw;
}

/* .audit-form-content-wrapper .risk-chart-wrapper{
    align-self: flex-end;
} */
.audit-form-content-wrapper .risk-chart-wrapper .risk-chart-container{
    width: 13.5vw;
    height: 7.4vw;
}
.audit-form-content-wrapper .risk-chart-wrapper .risk-chart-container .highcharts-container{
    width: 13.5vw !important;
    height: 7.4vw !important;
} 
.audit-form-content-wrapper .risk-chart-wrapper .risk-chart-container .risk-label{
    font-size: 17px;
    margin-top: 0px;
    text-align: center;
}


/* .audit-form-content-wrapper .risk-chart-wrapper .highcharts-data-label span {
    font-size: 16px !important;
} */
.chart-table-outer-wrapper{
    padding-top: 2.2vw;
    display: flex;
    gap: 1.565vw;
    margin-bottom: 2.87vw;
}
.detail-analytic-wrapper{
    padding-top: 2.2vw;

}
.chart-category-table-wrapper .table-wrapper-header,
.chart-location-table-wrapper .table-wrapper-header,
.detail-analytic-wrapper .table-header{
    text-transform: uppercase;
    font-size: 0.93vw;
    color: var(--input-val-color);
    margin-bottom: 10px;
}
.chart-category-table-wrapper .category-table,
.chart-location-table-wrapper .location-table,
.detail-analytic-wrapper .analytic-table{
    border-collapse: collapse;
    
   
}
.chart-category-table-wrapper .category-table,
.chart-location-table-wrapper .location-table{
    width: 37vw;
}
.detail-analytic-wrapper .analytic-table{
    width: 62.6%;
}
.detail-analytic-wrapper .analytic-table thead tr:first-of-type th:first-of-type{
    width: 15.3vw;
}
.chart-category-table-wrapper .category-table thead,
.chart-location-table-wrapper .location-table thead,
.detail-analytic-wrapper .analytic-table thead{
    background-color: rgb(235, 235, 235);
    padding: 12px;
    text-align: left;
    color: #666;
    font-size: 0.783vw;
}
.detail-analytic-wrapper .analytic-table thead,.detail-analytic-wrapper .analytic-table thead th.sub-header{
    font-size: 0.75vw;
}
.chart-category-table-wrapper .category-table thead th,
.chart-location-table-wrapper .location-table thead th,
.detail-analytic-wrapper .analytic-table thead th{
    padding: 10px;
}

.chart-category-table-wrapper .category-table thead tr:first-of-type th:first-of-type,
.chart-location-table-wrapper .location-table thead tr:first-of-type th:first-of-type{
    width: 15.4vw;
}
.chart-category-table-wrapper .category-table thead tr th.col-header,
.chart-location-table-wrapper .location-table thead tr th.col-header,
.detail-analytic-wrapper .analytic-table thead tr th.col-header{
    border-right: 7px solid #ffffff;
}
.chart-category-table-wrapper .category-table thead  th.top-header,
.chart-location-table-wrapper .location-table thead th.top-header,
.detail-analytic-wrapper .analytic-table thead th.top-header
{
    text-align: center;
    border-bottom: 1px solid #d1d1d1;
}
.detail-analytic-wrapper .analytic-table thead th.right-border{
    border-right: 1px solid #d1d1d1;
}
.chart-category-table-wrapper .category-table thead th.top-header,
.chart-location-table-wrapper .location-table thead th.top-header,
.detail-analytic-wrapper .analytic-table thead th.top-header,
.analytic-table thead th.sub-header{
    padding-bottom: 5px;
}
.analytic-table thead th.sub-header{
    padding-top: 5px;
}
.analytic-table thead th.right-border{
    padding-inline: 0px;
}
.chart-category-table-wrapper .category-table thead th.sub-header,
.chart-location-table-wrapper .location-table thead th.sub-header,
.detail-analytic-wrapper .analytic-table thead th.sub-header{
    border-right: 1px solid #d1d1d1;
}
.chart-category-table-wrapper .category-table thead th.sub-header:last-of-type,
.chart-location-table-wrapper .location-table thead th.sub-header:last-of-type,
.detail-analytic-wrapper .analytic-table thead th.sub-header:last-of-type{
    border-right: none;
}
.chart-category-table-wrapper .category-table tbody tr,
.chart-location-table-wrapper .location-table tbody tr,
.detail-analytic-wrapper .analytic-table tbody tr{
    padding: 10px;
    font-weight: normal;
    color: var(--input-val-color);
    text-transform: capitalize;
    border-bottom: 1px solid #d0d0d0;
    
}
.chart-category-table-wrapper .category-table tbody tr td,
.chart-location-table-wrapper .location-table tbody tr td,
.detail-analytic-wrapper .analytic-table tbody tr td{
    padding: 10px;
    font-size: 0.73vw;
}
.chart-category-table-wrapper .category-table tbody tr td:first-of-type,
.chart-location-table-wrapper .location-table tbody tr td:first-of-type,
.detail-analytic-wrapper .analytic-table tbody tr td:first-of-type{
    text-transform: capitalize;
}
.chart-category-table-wrapper .category-table tbody tr td:last-of-type,
.chart-location-table-wrapper .location-table tbody tr td:last-of-type,
.detail-analytic-wrapper .analytic-table tbody tr td:last-of-type{
    font-weight: bold;
}
.chart-category-table-wrapper .category-table tbody tr:last-child td,
.chart-location-table-wrapper .location-table tbody tr:last-child td,
.detail-analytic-wrapper .analytic-table tbody tr:last-child td{
    font-weight: bold;
    background-color: #f1f1f1;
    border-bottom: 2px solid rgb(217, 217, 218);
    color: rgb(27, 27, 27);
}
.chart-category-table-wrapper .category-table tbody tr:last-child td:last-of-type,
.chart-location-table-wrapper .location-table tbody tr:last-child td:last-of-type,
.detail-analytic-wrapper .analytic-table tbody tr:last-child td:last-of-type {
    font-size: 0.89vw;

}
.main-category-wrapper .main-chart-wrapper .main-chart-header{
    text-transform: uppercase;
    font-size: 0.89vw;
    color: var(--bg-blue-color);
    padding-bottom: 10px;
    margin-bottom: 1.05vw;
    border-bottom: 2px solid #999;
    padding-left: 10px;
}
.main-category-wrapper{
    display: flex;
    gap: 1.563vw;
    justify-content: space-between;
}
.main-category-wrapper .main-chart-wrapper .main-chart-sub-header-container{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 1.563vw;
   padding: 0 0 0.8vw;
}
.main-chart-wrapper .main-chart-sub-header-container .main-chart-sub-header,
.main-chart-wrapper .main-chart-sub-header-container .location-chart-sub-header {
    display: flex;
    gap: 10px;
    align-items: center;
}
.main-chart-wrapper .main-chart-sub-header-container .main-chart-sub-header span,
.main-chart-wrapper .main-chart-sub-header-container .location-chart-sub-header span{
    width: 1.563vw;
    height: 10px;
    display: inline-block;
}
.main-chart-wrapper .main-chart-sub-header-container .main-chart-sub-header p,
.main-chart-wrapper .main-chart-sub-header-container .location-chart-sub-header p{
    color: var(--input-val-color);
    font-weight: 500;
    font-size: 0.79vw;
}
.main-chart-wrapper .main-chart-sub-header-container .main-chart-sub-header span{
  
    background-color: #457b9d;

}
.main-chart-wrapper .main-chart-sub-header-container .location-chart-sub-header span{
    background-color: #93e498;
}
.main-category-wrapper .main-chart-wrapper{
    width: 56%;   
}

.main-category-wrapper .main-chart-wrapper .highcharts-yaxis text,
.main-category-wrapper .main-chart-wrapper .highcharts-xaxis text{
    font-size: 13px !important;
    fill:var(--input-val-color) !important;
    font-weight: 500;
}
 .main-category-wrapper .main-chart-wrapper .highcharts-container{
    height: 384px !important;
}

.main-category-wrapper .main-chart-wrapper .highcharts-container .bubble-label{
    font-size: 13px;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
}

.main-category-wrapper .main-chart-wrapper .highcharts-yaxis-labels span,
.main-category-wrapper .main-chart-wrapper  .highcharts-xaxis-labels span{
    font-size: 0.71vw !important;
    color: var(--input-val-color) !important;
    width: auto !important;
}


.main-category-wrapper .main-chart-data-container{
    width: 42.8%;
    background-color: rgb(252, 252, 252);
    padding: 1.5vw 1.8vw;
    border-bottom: 5px solid rgb(116, 116, 116);
    
}
.main-category-wrapper .main-chart-data-container .hand-img{
    width: 2.815vw;
    max-width: 54px;
}

.main-category-wrapper .main-chart-data-container .main-chart-data-header{
    display: flex;
    align-items: center;
    gap: 1.8vw;
    margin: 1.563vw 0 1.05vw;
    font-size: 0.76vw;
    flex-wrap: wrap;
    padding-left: 0.787vw;
    font-weight: 600;
}
.main-category-wrapper .main-chart-data-container .main-chart-data-header div{
    display: flex;
    align-items: center;
    gap: 12px;
}
.main-category-wrapper .main-chart-data-container .main-chart-data-header div img{
    width: 1.25vw;
}
.main-category-wrapper .main-chart-data-container  .main-chart-data-body{
    width: 87%;
    padding-left: 0.786vw;
}
.main-category-wrapper .main-chart-data-container  .main-chart-data-body  .main-chart-data-inner-wrapper{
    border-bottom: 1px solid #d0d0d0;
    padding:7px 0;
}
.main-category-wrapper .main-chart-data-container  .main-chart-data-body .main-chart-data-inner-wrapper:last-of-type{
    border-bottom: none;
}
.main-category-wrapper .main-chart-data-container  .main-chart-data-body .main-chart-data-inner-wrapper .main-chart-data-inner-container {
    display: flex;
    align-items: flex-start;
    padding: 8px 0;
}
.main-category-wrapper .main-chart-data-container  .main-chart-data-body .main-chart-data-inner-wrapper div .chart-data-label{
    
    color: var(--input-val-color);
    font-size: 0.84vw;
    width: 9.5vw;
    min-width: 9.5vw;

    margin-right: 4px;
    white-space: nowrap;
}

.main-category-wrapper .main-chart-data-container  .main-chart-data-body .main-chart-data-inner-container .chart-data-value p{
    color: var(--input-val-color);
    font-size: 0.8vw;
    text-wrap: nowrap;
}
 .main-chart-data-body .main-chart-data-inner-container .chart-data-value p:last-of-type{
    padding-top: 5px;
 }
.main-category-wrapper .main-chart-data-container  .main-chart-data-body .main-chart-data-inner-wrapper div span{
    display: inline-block;
    text-wrap: wrap;
    word-wrap: break-word;
}

.findings-outer-wrapper,
.weighted-outer-wrapper{
    margin-top: 1.61vw;
}

.findings-outer-wrapper .findings-outer-header,
.weighted-outer-wrapper .weighted-outer-header
{
    display: flex;
    align-items: center;
    gap: 1.05vw;
    margin: 1.8vw 0;
    justify-content: space-between;
    padding-right: 1.1vw;
}

.findings-outer-wrapper .findings-chart-outer-header,
.weighted-outer-wrapper .weighted-chart-outer-header
{
    display: flex;
    align-items: center;
    gap: 2.5vw;
}
.findings-outer-wrapper .findings-outer-header .findings-header,
.weighted-outer-wrapper .weighted-outer-header .weighted-header{
    text-transform: uppercase;
    font-size: 0.89vw;
    color: var(--bg-blue-color);
    padding-bottom: 5px;
    font-weight: 500;
}
.findings-outer-wrapper .findings-chart-outer-header div,
.weighted-outer-wrapper .weighted-chart-outer-header div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.findings-outer-wrapper .findings-chart-outer-header div img,
.weighted-outer-wrapper .weighted-chart-outer-header div img{
    width: 1.25vw;
}
.findings-inner-wrapper,.weighted-inner-wrapper{
    display: flex;
    gap: 1.61vw;
}
.findings-inner-wrapper .findings-chart-container,
.weighted-inner-wrapper .weighted-chart-container{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 18px;
    /* width: 30%; */
}

.findings-inner-wrapper .findings-chart-container .findings-chart-header,
.weighted-inner-wrapper .weighted-chart-container .weighted-chart-header{
    text-transform: uppercase;
    font-size: 0.89vw;
    font-weight: 600;
    color: var(--bg-blue-color);
    padding:10px 20px;
    border-bottom: 1px solid #999;
}

.findings-inner-wrapper .findings-chart-container .sub-chart-container,
.weighted-inner-wrapper .weighted-chart-container .sub-chart-container{
    width: 95%;
    margin: 1.05vw auto 0;

}
.findings-inner-wrapper .findings-chart-container  .highcharts-container,
.weighted-inner-wrapper .weighted-chart-container .highcharts-container{
    height: 17vw !important;
    min-height: 300px;
}

.weighted-inner-wrapper .weighted-chart-container .sub-chart-container .highcharts-container,
.findings-inner-wrapper .findings-chart-container .sub-chart-container .highcharts-container{
    height: 17vw !important;
    min-height: 300px;
}
.weighted-inner-wrapper .weighted-chart-container .location-chart-container .highcharts-container,
.findings-inner-wrapper .findings-chart-container .location-chart-container .highcharts-container{
    height: 17vw !important;
    min-height: 300px;
}
.findings-inner-wrapper  .main-chart-wrapper,
.weighted-inner-wrapper  .main-chart-wrapper{
    width:30%;
}
.findings-inner-wrapper  .sub-chart-wrapper,
.weighted-inner-wrapper  .sub-chart-wrapper{
    width: 33%;
}

.findings-inner-wrapper  .location-chart-wrapper,
.weighted-inner-wrapper .location-chart-wrapper{
    width: 31.3%;
    /* margin: 20px auto; */
}
.findings-inner-wrapper .findings-chart-container  .highcharts-xaxis-labels{
    width: 90%;
    margin: 0 auto;
}
.findings-inner-wrapper .findings-chart-container .highcharts-yaxis-labels span,
.findings-inner-wrapper .findings-chart-container .highcharts-xaxis-labels span,
.weighted-inner-wrapper .weighted-chart-container .highcharts-yaxis-labels span, 
.weighted-inner-wrapper .weighted-chart-container .highcharts-xaxis-labels span{
    font-size: 0.63vw !important;
    white-space: wrap !important;
    color: black !important;
    text-align: center !important;
    text-overflow: unset !important;
    overflow: visible !important;
    line-clamp: unset !important;
    -webkit-line-clamp: unset !important;
    white-space: normal !important;
    transform: rotate(0deg) !important;
}

.findings-inner-wrapper .main-chart-container .highcharts-yaxis-labels text,
.weighted-inner-wrapper .main-chart-container  .highcharts-yaxis-labels text {
    font-size: 12px !important;
}


.weighted-inner-wrapper .location-chart-container .highcharts-yaxis-labels span,
.weighted-inner-wrapper .location-chart-container  .highcharts-xaxis-labels span{
    word-wrap:break-word;
}

.findings-inner-wrapper .main-chart-container .highcharts-xaxis-labels .polar-label,
.weighted-inner-wrapper .main-chart-container .highcharts-xaxis-labels .polar-label{
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: left;
    /* flex-wrap: wrap; */
}
.findings-inner-wrapper .main-chart-container .highcharts-xaxis-labels .polar-label .color,
.weighted-inner-wrapper .main-chart-container .highcharts-xaxis-labels .polar-label .color{
   font-size: 0.94vw;
   font-weight: bold;
}
.findings-inner-wrapper .main-chart-container .highcharts-xaxis-labels .polar-label .name,
.weighted-inner-wrapper .main-chart-container .highcharts-xaxis-labels .polar-label .name{
   font-size: 0.79vw;
   color: black;
   max-width: 4vw;
   
}

.findings-inner-wrapper .findings-chart-container .sub-chart-container .highcharts-data-labels .sub-label,
.weighted-inner-wrapper .weighted-chart-container .sub-chart-container .highcharts-data-labels .sub-label{
    color: var(--input-val-color) ;
    font-size:13px ;
}

.findings-inner-wrapper .findings-chart-container .location-chart-container,
.weighted-inner-wrapper .weighted-chart-container .location-chart-container{
    width: 95%;
    margin: 1.05vw auto 0;
}

.findings-inner-wrapper .findings-chart-container .location-chart-container .location-label,
.weighted-inner-wrapper .weighted-chart-container .location-chart-container .location-label{
    width:2.899vw;
    text-align:center;
    white-space:normal;
    font-size: 0.62vw;
    word-break: break-word;
}
 
.findings-inner-wrapper .findings-chart-container .location-chart-container .highcharts-xaxis-labels span:first-of-type .location-label, 
.weighted-inner-wrapper .weighted-chart-container .location-chart-container .highcharts-xaxis-labels span:first-of-type .location-label{
    width: 2.55vw ;
    word-break: break-word;
} 

.detail-analytic-wrapper .tbody td.dot-green{
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

.audit-chart-wrapper .report-desc{
    color: var(--input-label-color);
    color: rgb(95, 95, 95);
    padding-top: 3.13vw;
    text-align: center;
    font-size: 15px;
    padding-inline: 0.8vw;
    line-height: 1.2;
}



/* .dot.green {
            background-color: #10b981;
        }
        .dot.yellow {
            background-color: #f59e0b; */